.app{
display: grid;
grid-template-columns: 1fr;
grid-template-areas: "nav"
                  "content"
                    "footer";
}

app-navbar{
  grid-area: nav;
}
@media (min-width: 650px){
mat-sidenav-content{
grid-area: content;
margin: 0 0 25px 0;
padding: 0;
}
}
@media (max-width: 649px){
mat-sidenav-content{
grid-area: content;
margin: 0 0 10px 0;
padding: 0;
}
}
app-footer{
grid-area: footer;
background-color: #303030;
}
