<div class="home">

<div class="sectionone">
  <img src="assets/horizontal.png">
  <div class="siteheader">
  <h1>
  Ragtagapparel.co.uk
  </h1>
  <button [routerLink]="['Store']" routerLinkActive="router-link-active"  mat-raised-button color="primary">Shop Now</button>
</div>
</div>
<div class="sectiontwo">
<h2>Popular Categories</h2>
<h4>Let's take a look at your new favorites</h4>
<div class="sectiontwolist">
<div class=" homelist fist">
<a style="color:black; text-decoration: none;"[routerLink]="['Clothing']" ><img class="sectiontwoitem"  src="https://firebasestorage.googleapis.com/v0/b/ragtagapparel-634ac.appspot.com/o/jpeg_square.jpg?alt=media&token=0466f618-f874-4a0a-91c8-384a266fea3f" alt="">
<h3>Clothing</h3></a>
</div>
<div class="homelist second">
    <a style="color:black; text-decoration: none;" [routerLink]="['Art']" > <img class="sectiontwoitem" src="https://firebasestorage.googleapis.com/v0/b/ragtagapparel-634ac.appspot.com/o/3__whiteb__pinkc__bl_YJG5u.jpg?alt=media&token=819611fa-51f3-4a9a-8e5e-2e0f685d21d1" alt="">
    <h3>Art</h3></a>
</div>
<div class="homelist third">
    <a style="color:black; text-decoration: none;" [routerLink]="['Other']" ><img class="sectiontwoitem"  src="https://firebasestorage.googleapis.com/v0/b/ragtagapparel-634ac.appspot.com/o/5__pinkb_pinkc__blac_mLC22.jpg?alt=media&token=8877a5b3-7ed4-411a-aa61-87eebf2015bc" alt="">
<h3>Other</h3></a>
</div>
</div>
<mat-progress-bar mode="buffer"></mat-progress-bar>
</div>
<div class="sectionthree">
<h2>Some Of Our Favourites</h2>
<div class="sectionthreecontent">
  <div class="sectionthreelist first">
    <img src="https://everpress.imgix.net/img/campaign/original/5d74fca3b31046.75299744.png?w=700&h=700&auto=format&bg=ffffff&fit=fill" alt="">
  <div class="description">
    <h4>Are you OK?
      </h4>
      <div>keep it classic with a little nostalgia</div>
      <button [routerLink]="['#']" routerLinkActive="router-link-active"  mat-raised-button color="primary" >View/Buy</button>
    </div>
  </div>
  <div class="sectionthreelist second">
      <img src="https://firebasestorage.googleapis.com/v0/b/ragtagapparel-634ac.appspot.com/o/1__pinkb__pinkc__bla_bLXVc.jpg?alt=media&token=c704dcdb-7df2-4c91-8903-3e1babdb531d" alt="">
    <div class="description">
      <h4>Are you OK?</h4>
      <div>keep it classic with a little nostalgia</div>
      <button [routerLink]="['#']" routerLinkActive="router-link-active"  mat-raised-button color="primary" >View/Buy</button>
    </div>
  </div>
</div>
</div>
<div class="sectionfour">
    <mat-progress-bar mode="buffer"></mat-progress-bar>
    <div class="sectionfourcontent">
      <div class="sectionfourlist first">
        <mat-icon>android</mat-icon>
      <div class="description">
        <h4>down to get weird
          </h4>
          <div class="descriptivetext">We're a little weird, but that's okay. We just wanna make clothes for fellow freaks and geeks.</div>
        </div>
      </div>
      <div class="sectionfourlist second">
          <mat-icon>airplanemode_active</mat-icon>
        <div class="description">
          <h4>free shipping & free returns</h4>
          <div class="descriptivetext">Don't stress out about sizing. If you aren't happy with how your clothes fit, we'll arrange a hassle-free exchange.


              the wicked guarantee
              The only thing you’re guaranteed in this life is death. Oh, and also 100% satisfaction </div>
        </div>
      </div>
      <div class="sectionfourlist third">
          <mat-icon>https</mat-icon>
        <div class="description">
          <h4>the wicked guarantee</h4>
          <div class="descriptivetext">The only thing you’re guaranteed in this life is death. Oh, and also 100% satisfaction guaranteed. We'll take care of you.</div>
        </div>
      </div>
    </div>
    </div>
</div>



