@media (min-width: 1200px) {
  .nav-large {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "site-title navigation user-management";
  }
  .smallscreen {
    display: none;
  }
}
.sitetitle {
  grid-area: site-title;
  margin: auto;
}
.navigation {
  grid-area: navigation;
  margin: auto;
  font-size: 1rem;
}
.navigation ul {
  margin-right: 15px;
}
.navigation ul li {
  display: inline-block;
}
.navigation ul li a {
  margin-right: 40px;
}
.usermanagement {
  grid-area: user-management;
  margin: auto;
  font-size: 1rem;
}
.usermanagement ul {
  margin-right: 15px;
}
.usermanagement ul li {
  display: inline-block;
}
.usermanagement ul li a {
  margin-right: 40px;
}
@media (max-width: 1199px) {
  .nav-small {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: "sidenav title page";
  }
  .bigscreen {
    display: none;
  }
}
.sidenavbutton {
  grid-area: sidenav;
  margin: auto;
  font-size: 1rem;
}
.title {
  grid-area: title;
  margin: auto;
  font-size: 1rem;
}
.pagetitle {
  grid-area: page;
  margin: auto;
  font-size: 1rem;
}
:visited {
  color: #334953;
}
:link {
  color: #334953;
}
.active {
  background-color: honeydew;
}
.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  margin-left: 10px;
  padding-right: 10px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  width: 15%;
}
.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}
mat-list-item span {
  margin-left: 5px;
}
mat-list-item mat-icon {
  margin: 5px;
}
mat-sidenav {
  left: 0;
  width: 50%;
}
